In [1]:
import pandas
pollution = pandas.read_csv('Example 01 Tabular Data/LSTM-Multivariate_pollution.csv', parse_dates=['date'], index_col='date')

In [2]:
# retrieving a specific row and column based on row and column label
pollution.loc['2014-12-31 21:00:00', 'temp']

-3.0

In [3]:
# we can also use slicing to retrieve a range of columns
pollution.loc['2014-12-31 21:00:00', 'dew':'snow']

dew           -22
temp         -3.0
press      1034.0
wnd_dir        NW
wnd_spd     242.7
snow            0
Name: 2014-12-31 21:00:00, dtype: object

In [7]:
# or using slicing to retrieve a range of rows and columns
pollution.loc['2014-12-31 00:00:00':'2014-12-31 23:59:00', 'dew':'snow']

                     dew  temp   press wnd_dir  wnd_spd  snow
date
2014-12-31 00:00:00  -19  -1.0  1027.0      NW    51.84     0
2014-12-31 01:00:00  -18  -1.0  1028.0      NW    61.67     0
2014-12-31 02:00:00  -17  -1.0  1028.0      NW    70.61     0
2014-12-31 03:00:00  -17  -1.0  1029.0      NW    81.79     0
2014-12-31 04:00:00  -19  -2.0  1030.0      NW    94.75     0
2014-12-31 05:00:00  -21  -3.0  1030.0      NW   109.95     0
2014-12-31 06:00:00  -23  -4.0  1032.0      NW   130.07     0
2014-12-31 07:00:00  -22  -5.0  1034.0      NW   143.03     0
2014-12-31 08:00:00  -22  -5.0  1034.0      NW   150.18     0
2014-12-31 09:00:00  -22  -3.0  1034.0      NW   155.99     0
2014-12-31 10:00:00  -22  -2.0  1034.0      NW   163.14     0
2014-12-31 11:00:00  -22  -2.0  1034.0      NW   170.29     0
2014-12-31 12:00:00  -22   0.0  1033.0      NW   177.44     0
2014-12-31 13:00:00  -27   0.0  1032.0      NW   186.38     0
2014-12-31 14:00:00  -27   1.0  1032.0      NW   196.21     0
2014-12-31 15:00:00  -26   1.0  1032.0      NW   205.15     0
2014-12-31 16:00:00  -23   0.0  1032.0      NW   214.09     0
2014-12-31 17:00:00  -22  -1.0  1033.0      NW   221.24     0
2014-12-31 18:00:00  -22  -2.0  1033.0      NW   226.16     0
2014-12-31 19:00:00  -23  -2.0  1034.0      NW   231.97     0
2014-12-31 20:00:00  -22  -3.0  1034.0      NW   237.78     0
2014-12-31 21:00:00  -22  -3.0  1034.0      NW   242.70     0
2014-12-31 22:00:00  -22  -4.0  1034.0      NW   246.72     0
2014-12-31 23:00:00  -21  -3.0  1034.0      NW   249.85     0

In [8]:
# all columns from the first, up to but not including snow
pollution.loc['2014-12-31 00:00:00':'2014-12-31 23:59:00', :'snow']

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow
date
2014-12-31 00:00:00         10  -19  -1.0  1027.0      NW    51.84     0
2014-12-31 01:00:00         11  -18  -1.0  1028.0      NW    61.67     0
2014-12-31 02:00:00         20  -17  -1.0  1028.0      NW    70.61     0
2014-12-31 03:00:00          9  -17  -1.0  1029.0      NW    81.79     0
2014-12-31 04:00:00          8  -19  -2.0  1030.0      NW    94.75     0
2014-12-31 05:00:00          9  -21  -3.0  1030.0      NW   109.95     0
2014-12-31 06:00:00          8  -23  -4.0  1032.0      NW   130.07     0
2014-12-31 07:00:00          8  -22  -5.0  1034.0      NW   143.03     0
2014-12-31 08:00:00          8  -22  -5.0  1034.0      NW   150.18     0
2014-12-31 09:00:00          8  -22  -3.0  1034.0      NW   155.99     0
2014-12-31 10:00:00          7  -22  -2.0  1034.0      NW   163.14     0
2014-12-31 11:00:00         12  -22  -2.0  1034.0      NW   170.29     0
2014-12-31 12:00:00         17  -22   0.0  1033.0      NW   177.44     0
2014-12-31 13:00:00         11  -27   0.0  1032.0      NW   186.38     0
2014-12-31 14:00:00          9  -27   1.0  1032.0      NW   196.21     0
2014-12-31 15:00:00         11  -26   1.0  1032.0      NW   205.15     0
2014-12-31 16:00:00          8  -23   0.0  1032.0      NW   214.09     0
2014-12-31 17:00:00          9  -22  -1.0  1033.0      NW   221.24     0
2014-12-31 18:00:00         10  -22  -2.0  1033.0      NW   226.16     0
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0

In [9]:
# all columns from first to last
pollution.loc['2014-12-31 00:00:00':'2014-12-31 23:59:00', :]

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2014-12-31 00:00:00         10  -19  -1.0  1027.0      NW    51.84     0     0
2014-12-31 01:00:00         11  -18  -1.0  1028.0      NW    61.67     0     0
2014-12-31 02:00:00         20  -17  -1.0  1028.0      NW    70.61     0     0
2014-12-31 03:00:00          9  -17  -1.0  1029.0      NW    81.79     0     0
2014-12-31 04:00:00          8  -19  -2.0  1030.0      NW    94.75     0     0
2014-12-31 05:00:00          9  -21  -3.0  1030.0      NW   109.95     0     0
2014-12-31 06:00:00          8  -23  -4.0  1032.0      NW   130.07     0     0
2014-12-31 07:00:00          8  -22  -5.0  1034.0      NW   143.03     0     0
2014-12-31 08:00:00          8  -22  -5.0  1034.0      NW   150.18     0     0
2014-12-31 09:00:00          8  -22  -3.0  1034.0      NW   155.99     0     0
2014-12-31 10:00:00          7  -22  -2.0  1034.0      NW   163.14     0     0
2014-12-31 11:00:00         12  -22  -2.0  1034.0      NW   170.29     0     0
2014-12-31 12:00:00         17  -22   0.0  1033.0      NW   177.44     0     0
2014-12-31 13:00:00         11  -27   0.0  1032.0      NW   186.38     0     0
2014-12-31 14:00:00          9  -27   1.0  1032.0      NW   196.21     0     0
2014-12-31 15:00:00         11  -26   1.0  1032.0      NW   205.15     0     0
2014-12-31 16:00:00          8  -23   0.0  1032.0      NW   214.09     0     0
2014-12-31 17:00:00          9  -22  -1.0  1033.0      NW   221.24     0     0
2014-12-31 18:00:00         10  -22  -2.0  1033.0      NW   226.16     0     0
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

In [10]:
# or equivalently by omitting the column specification entirely
pollution.loc['2014-12-31 00:00:00':'2014-12-31 23:59:00']

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2014-12-31 00:00:00         10  -19  -1.0  1027.0      NW    51.84     0     0
2014-12-31 01:00:00         11  -18  -1.0  1028.0      NW    61.67     0     0
2014-12-31 02:00:00         20  -17  -1.0  1028.0      NW    70.61     0     0
2014-12-31 03:00:00          9  -17  -1.0  1029.0      NW    81.79     0     0
2014-12-31 04:00:00          8  -19  -2.0  1030.0      NW    94.75     0     0
2014-12-31 05:00:00          9  -21  -3.0  1030.0      NW   109.95     0     0
2014-12-31 06:00:00          8  -23  -4.0  1032.0      NW   130.07     0     0
2014-12-31 07:00:00          8  -22  -5.0  1034.0      NW   143.03     0     0
2014-12-31 08:00:00          8  -22  -5.0  1034.0      NW   150.18     0     0
2014-12-31 09:00:00          8  -22  -3.0  1034.0      NW   155.99     0     0
2014-12-31 10:00:00          7  -22  -2.0  1034.0      NW   163.14     0     0
2014-12-31 11:00:00         12  -22  -2.0  1034.0      NW   170.29     0     0
2014-12-31 12:00:00         17  -22   0.0  1033.0      NW   177.44     0     0
2014-12-31 13:00:00         11  -27   0.0  1032.0      NW   186.38     0     0
2014-12-31 14:00:00          9  -27   1.0  1032.0      NW   196.21     0     0
2014-12-31 15:00:00         11  -26   1.0  1032.0      NW   205.15     0     0
2014-12-31 16:00:00          8  -23   0.0  1032.0      NW   214.09     0     0
2014-12-31 17:00:00          9  -22  -1.0  1033.0      NW   221.24     0     0
2014-12-31 18:00:00         10  -22  -2.0  1033.0      NW   226.16     0     0
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

In [11]:
# all rows from the first, up to but not including '2014-12-31 23:59:00'
pollution.loc[:'2014-12-31 23:59:00', 'dew':'snow']

                     dew  temp   press wnd_dir  wnd_spd  snow
date
2010-02-01 00:00:00  -16  -4.0  1020.0      SE     1.79     0
2010-02-01 01:00:00  -15  -4.0  1020.0      SE     2.68     0
2010-02-01 02:00:00  -11  -5.0  1021.0      SE     3.57     0
2010-02-01 03:00:00   -7  -5.0  1022.0      SE     5.36     1
2010-02-01 04:00:00   -7  -5.0  1022.0      SE     6.25     2
...                  ...   ...     ...     ...      ...   ...
2014-12-31 19:00:00  -23  -2.0  1034.0      NW   231.97     0
2014-12-31 20:00:00  -22  -3.0  1034.0      NW   237.78     0
2014-12-31 21:00:00  -22  -3.0  1034.0      NW   242.70     0
2014-12-31 22:00:00  -22  -4.0  1034.0      NW   246.72     0
2014-12-31 23:00:00  -21  -3.0  1034.0      NW   249.85     0

[43800 rows x 6 columns]

In [12]:
# All rows from first to last. 
pollution.loc[:, 'dew':'snow']

                     dew  temp   press wnd_dir  wnd_spd  snow
date
2010-02-01 00:00:00  -16  -4.0  1020.0      SE     1.79     0
2010-02-01 01:00:00  -15  -4.0  1020.0      SE     2.68     0
2010-02-01 02:00:00  -11  -5.0  1021.0      SE     3.57     0
2010-02-01 03:00:00   -7  -5.0  1022.0      SE     5.36     1
2010-02-01 04:00:00   -7  -5.0  1022.0      SE     6.25     2
...                  ...   ...     ...     ...      ...   ...
2014-12-31 19:00:00  -23  -2.0  1034.0      NW   231.97     0
2014-12-31 20:00:00  -22  -3.0  1034.0      NW   237.78     0
2014-12-31 21:00:00  -22  -3.0  1034.0      NW   242.70     0
2014-12-31 22:00:00  -22  -4.0  1034.0      NW   246.72     0
2014-12-31 23:00:00  -21  -3.0  1034.0      NW   249.85     0

[43800 rows x 6 columns]

In [14]:
# In this case we can't omit the : as otherwise, dew and snow will be treated as row labels rather than column labels
pollution.loc['dew':'snow']

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [dew] of type str

In [15]:
# using step 5 to retrieve only every 5th row within that range
pollution.loc['2014-12-31 00:00:00':'2014-12-31 23:59:00': 5, 'dew':'snow']

                     dew  temp   press wnd_dir  wnd_spd  snow
date
2014-12-31 00:00:00  -19  -1.0  1027.0      NW    51.84     0
2014-12-31 05:00:00  -21  -3.0  1030.0      NW   109.95     0
2014-12-31 10:00:00  -22  -2.0  1034.0      NW   163.14     0
2014-12-31 15:00:00  -26   1.0  1032.0      NW   205.15     0
2014-12-31 20:00:00  -22  -3.0  1034.0      NW   237.78     0

In [18]:
pollution

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 00:00:00        129  -16  -4.0  1020.0      SE     1.79     0     0
2010-02-01 01:00:00        148  -15  -4.0  1020.0      SE     2.68     0     0
2010-02-01 02:00:00        159  -11  -5.0  1021.0      SE     3.57     0     0
2010-02-01 03:00:00        181   -7  -5.0  1022.0      SE     5.36     1     0
2010-02-01 04:00:00        138   -7  -5.0  1022.0      SE     6.25     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

In [17]:
# iloc is similar to loc, but we are using integers to index the rows and columns by row number and column number
# for example, retrieve row number 0 and column number 5 (which has name wnd_spd)
pollution.iloc[0, 5]

1.79

In [19]:
# access the wind speed of the next row
pollution.iloc[1, 5]

2.68

In [21]:
# use slicing to retrieve every 2nd row between rows 1 and 10
pollution.iloc[1:10:2, 2:]

                     temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 01:00:00  -4.0  1020.0      SE     2.68     0     0
2010-02-01 03:00:00  -5.0  1022.0      SE     5.36     1     0
2010-02-01 05:00:00  -6.0  1022.0      SE     7.14     3     0
2010-02-01 07:00:00  -5.0  1024.0      SE    10.72     0     0
2010-02-01 09:00:00  -5.0  1025.0      SE    14.30     0     0

In [24]:
# retrieve every second row between first and last
pollution.iloc[::2]

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 00:00:00        129  -16  -4.0  1020.0      SE     1.79     0     0
2010-02-01 02:00:00        159  -11  -5.0  1021.0      SE     3.57     0     0
2010-02-01 04:00:00        138   -7  -5.0  1022.0      SE     6.25     2     0
2010-02-01 06:00:00        105   -7  -6.0  1023.0      SE     8.93     4     0
2010-02-01 08:00:00        120   -8  -6.0  1024.0      SE    12.51     0     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 14:00:00          9  -27   1.0  1032.0      NW   196.21     0     0
2014-12-31 16:00:00          8  -23   0.0  1032.0      NW   214.09     0     0
2014-12-31 18:00:00         10  -22  -2.0  1033.0      NW   226.16     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0

[21900 rows x 8 columns]

In [25]:
# we can also use iloc expressions on the right side of an assignment statement to update a DataFrame
pollution.iloc[0,5] = 1.9

In [26]:
pollution

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 00:00:00        129  -16  -4.0  1020.0      SE     1.90     0     0
2010-02-01 01:00:00        148  -15  -4.0  1020.0      SE     2.68     0     0
2010-02-01 02:00:00        159  -11  -5.0  1021.0      SE     3.57     0     0
2010-02-01 03:00:00        181   -7  -5.0  1022.0      SE     5.36     1     0
2010-02-01 04:00:00        138   -7  -5.0  1022.0      SE     6.25     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

In [27]:
# the update might apply to a range of rows (and/or columns)
pollution.iloc[0:10,5] = 1.9

In [28]:
pollution

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 00:00:00        129  -16  -4.0  1020.0      SE     1.90     0     0
2010-02-01 01:00:00        148  -15  -4.0  1020.0      SE     1.90     0     0
2010-02-01 02:00:00        159  -11  -5.0  1021.0      SE     1.90     0     0
2010-02-01 03:00:00        181   -7  -5.0  1022.0      SE     1.90     1     0
2010-02-01 04:00:00        138   -7  -5.0  1022.0      SE     1.90     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

In [29]:
#  we can also update using .loc expressions
pollution.loc["2014-12-31 21:00:00","temp"] = 1.9

In [30]:
pollution

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-02-01 00:00:00        129  -16  -4.0  1020.0      SE     1.90     0     0
2010-02-01 01:00:00        148  -15  -4.0  1020.0      SE     1.90     0     0
2010-02-01 02:00:00        159  -11  -5.0  1021.0      SE     1.90     0     0
2010-02-01 03:00:00        181   -7  -5.0  1022.0      SE     1.90     1     0
2010-02-01 04:00:00        138   -7  -5.0  1022.0      SE     1.90     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 19:00:00          8  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00         10  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00         10  -22   1.9  1034.0      NW   242.70     0     0
2014-12-31 22:00:00          8  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00         12  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]